{% extends 'accountsLayout.html' %}
{% block title %}비밀번호 재설정{% endblock %}

<style>
    .my_container {
        text-align: -webkit-center;
        position: relative;
        top: 150px;
    }
</style>

{% block content %}
<body>
    <div class="container-fluid my_container">
        <div>
            <h4>비밀번호 재설정🔒</h4>
        </div>
        <form id="resetPasswordForm" data-url="{% url 'accounts:reset_password' %}" data-csrf="{{ csrf_token }}">
            {% csrf_token %}
            <div>
                <input type="password" id="new_password" name="new_password" placeholder="새 비밀번호">
            </div>
            <div>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="비밀번호 확인">
            </div>
            <div>
                <input type="button" value="비밀번호 재설정" onclick="resetPassword()">
            </div>
        </form>
    </div>
</body>
{% endblock %}
