{% extends 'base_manager.html' %}
{% block title %}퇴사 및 휴직 관리{% endblock %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr[data-url]").click(function () {
            var url = $(this).data("url");
            window.location.href = url;
        });
    });
</script>
<form action="" method="POST">
    <form action="" method="GET">
        <div>
            <h2>퇴사 및 휴직 관리</h2>
        </div>
        <div class="dashboard">
            <div>
                <ul>
                    <li>
                        <input type="text" class="form-control" id="seachText" name="seachText" placeholder="검색창">
                    </li>
                    <li>
                        <button>검색</button>
                    </li>
                </ul>
            </div>
            <div>
                <td colspan="7">총 {{ data|length }}건</td>
            </div>
            <div>
                <table class="styled-table">
                    <thead>
                        <th>회원번호</th>
                        <th>이름</th>
                        <th>아이디</th>
                        <th>E-mail</th>
                        <th>소속</th>
                        <th>역할</th>
                        <th>가입 요청 일자</th>
                        <th>처리</th>
                    </thead>
                    <tbody>
                        {% for item in data %}
                        <tr data-url="{% url 'management:allow_detail' item.id %}" class="active-row">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.username }}</td>
                            <td>{{ item.ID }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.소속}}</td>
                            <td>{{ item.역할}}</td>
                            <td>{{ item.date_joined}}</td>
                            <td>
                                <div class="dropdown">
                                    <input class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown button
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="#">Action</a></li>
                                      <li><a class="dropdown-item" href="#">Another action</a></li>
                                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                  </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    {% endblock %}
